body{
    background: rgb(250,250,250);
}

.weui-flex {
    text-align: center;
    padding: 0;
}

.iconfont {
    font-size: 1.68em !important;
}

img {
    width: 50px;
}


.block {
    background: white;
    .weui-flex__item {
        color: rgb(6, 6, 6);
        padding: 20px;
        border: 1px solid #f8f7f7;
        &:hover {
            box-shadow: 0 0 18px rgb(253, 247, 247) inset;
        }
        p{
            padding: 12px;
            font-size: 0.8em;
        }
    }
}