body{
    background: rgb(250,250,250);
}

.weui-flex {
    text-align: center;
    padding: 0;
}

.iconfont {
    font-size: 1.8em !important;
}

img {
    width: 50px;
}

.red {
    color: #369;
    ;
}

.blue {
    color: red;
}

.green {
    color: green;
}

.block {
    background: white;
    .weui-flex__item {
        color: #888;
        padding: 20px;
        border: 1px solid #f8f7f7;
        &:hover {
            box-shadow: 0 0 18px rgb(233, 207, 207) inset;
        }
        p{
            font-size: 0.8em;
        }
    }
}

.title {
    padding: 8px 10px;
}