body {
    background: rgb(250, 250, 250);
}

header {
    color: #333;
    padding: 20px 15px;
    line-height: 20px;
    font-size: 0.8em;
    .weui-flex {
        text-align: left;
    }
    .weui-flex__item {
        font {
            font-size: 18px !important;
            color: #EE451F;
        }
    }
    a{
        font-weight: 800;
        color: #EE451F;
        font-size: 0.88em;
    }
}

.right {
    text-align: right;
}

.weui-flex {
    text-align: center;
    padding: 0;
}

.iconfont {
    color: #999;
    font-size: 1.68em !important;
}

img {
    width: 50px;
}

.block {
    background: white;
    .weui-flex__item {
        color: rgb(6, 6, 6);
        border: 1px solid #f8f7f7;
        padding: 20px 0;
        &:hover {
            box-shadow: 0 0 18px rgb(253, 247, 247) inset;
        }
        p {
            padding: 12px;
            font-size: 0.8em;
        }
    }
}

.icon-none {
    background: rgb(250, 250, 250);
    border-width: 0;
}

footer {
    margin: 28px 0 16px 0 !important;
    text-align: center;
}