.weui-flex {
  text-align: center;
  padding: 0; }

.iconfont {
  font-size: 2em !important; }

img {
  width: 50px; }

.red {
  color: #369; }

.blue {
  color: red; }

.green {
  color: green; }

.block .weui-flex__item {
  color: #888;
  padding: 20px;
  border: 1px solid #f8f7f7; }
  .block .weui-flex__item:hover {
    box-shadow: 0 0 10px #dfdede inset; }
  .block .weui-flex__item p {
    font-size: 0.8em; }

.title {
  padding: 8px 10px; }
