include ../common/mixin.jade

-var items = [ {pro:"维修状态",content:"等待维修"},{pro:"报修时间",content:"2017年12月1日 23：57：31"},{pro:"报修人",content:"钱博康 18086407838"},{pro:"故障类型",content:"错误代码568"}]

+conf
    title 网络报修

body
    .weui-cells__title 申请列表

    each fixs in items
        .container
          .weui-flex
            .weui-flex__item=fixs.pro
            .weui-flex__item=fixs.content

         

        
    .weui-cells__title 在线报修
    .weui-cells.box-none 
        .weui-cell
            .weui-cell__hd
                label.weui-label 姓名
            .weui-cell__bd
                input.weui-input(value="钱博康")
            .weui-cell__hd 
                label.weui-lable(for="") 宿舍
            .weui-cell__bd
                select.weui-select 
                    option(value="1") 梅菊斋
                    option(value="2") 竹枫斋
                    option(value="3") 兰蕙斋
        .weui-cell
            .weui-cell__hd
                label.weui-label 手机号
            .weui-cell__bd
                input.weui-input(value="18086407838")           
            .weui-cell__hd 
                label.weui-lable(for="") 楼栋
            .weui-cell__bd
                select.weui-select 
                    option(value="1") 1舍
                    option(value="2") 2舍
                    option(value="3") 3舍
                    option(value="3") 4舍
        .weui-cell
            .weui-cell__hd
                label.weui-label 宿舍号
            .weui-cell__bd
                input.weui-input(value="227")
            .weui-cell__hd 
                label.weui-lable(for="") 常见故障
            .weui-cell__bd
                select.weui-select 
                    option(value="1") 611错误，无法登陆
                    option(value="2") 403错误，无法链接互联网
                    option(value="3") 966错误，身份识别错误
                    option(value="3") 782错误，端口被占用

    .container
        .weui-cells.weui-cells_form
            .weui-cell
                .weui-cell__bd
                    textarea.weui-textarea(placeholder="故障描述", rows="3")

    .weui-btn-area
        a.weui-btn.weui-btn_primary(onclick="success();") 提交成功




    script.
        function success(){
            weui.toast('留言成功', 1500);
        }
                
    +footer