include ../common/mixin.jade

head 
    +conf("电话查询")

body
    +com-title("联系方式查询") 
    .weui-cells
        .weui-cell
            .weui-cell__hd
                label.weui-label 时间
            .weui-cell__bd
                input.weui-input(value="姓名/腾讯通")
            .weui-cell__hd
                input(class="weui-btn weui-btn_mini weui-btn_primary",type="button",value="查询")
    +footer