@import 'var.scss';
// 29 成绩查询 
#grade {
    .card .weui-flex:first-child {
        font-weight: 800;
    }
    .weui-cell__hd {
        width: 50px !important;
    }
    .course {
        width: 120px !important;
    }
}

// 102 更新日志
#data {
    .data-title {
        color: $style-color__blue;
        font-weight: 800;
    }
    .data-time {
        color: $style-color__grey__Light;
        font-size: 0.84em;
    }
    p {
        font-weight: 0.8em;
    }
}

#bus {
    .time {
        font-weight: 800;
        width: 60px;
    }
}

#buy {
    #goods {
        padding: 2px;
        .weui-flex{
            border-bottom: 3px solid $style-color__bg;
        }
        .weui-flex__item {
            padding: 3px;
            img {
                width: 80%;
            }
            &:first-child {
                border-right: 3px solid $style-color__bg;
            }
        }
    }
    .iconfont{
        font-size: 23px
    }
}