@import 'var.scss';
// 成绩查询版块
#grade {
    .card .weui-flex:first-child {
        font-weight: 800;
    }
    .weui-cell__hd {
        width: 50px !important;
    }
}

#data {

    .data-title{
        color: $style-color__green;
        font-weight: 800;
    }
    .data-time {
        color: $style-color__grey__Light;
        font-size: 0.84em;
    }
}