@import 'var.scss';
//卡片
.card {
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .weui-flex:nth-child(even) {
        background: $style-card-color__grey__Light !important;
        div {
            background: $style-card-color__grey__Light !important;
        }
    }
    .weui-flex__item {
        line-height: 3;
        &:first-child {
            width: 240px;
        }
    }
}

.card-small {
    .box {
        box-shadow: 0px 0px 20px 1px #ddd;
        color: white;
        border-radius: 7px;
        overflow: hidden;
    }
    .weui-flex__item {
        background: $style-color__blue__Light !important;
        font-weight: 800;
        line-height: 3;
        span {
            color: $style-color__yellow;
        }
    }
    .weui-flex:first-child .weui-flex__item {
        background: white !important;
        color: $style-color__blue__Light;
        font-weight: 800;
    }
    padding-bottom: 20px;
    &:last-child {
        padding-bottom: 0;
    }
    img {
        width: 100%;
    } // 图文混排
    #teacherInfo {
        padding: 20px 28px;
        .weui-flex__item {
            &:first-child {
                font-weight: 300 !important;
                padding: 10px 10px 0 10px;
                text-align: left;
                line-height: 2.5!important;
                color: $style-color__black;
                p{
                    border-bottom: 1px solid $style-color__bg;
                }

            }
            &:last-child {
                text-align: right;
                img {
                    border-radius: 5px;
                    width: 96%;
                }
            }
        }
        #listContent {
            padding: 25px 0 50px 0;
            p {
                font-weight: 300 !important;
                text-align: left;
                line-height: 1.6;
                color: $style-color__black;
            }
        }
    }
}

// head-title
#head-title {
    color: $style-color__blue;
    margin: 32px auto 38px auto;
    text-align: center;
    a {
        text-decoration: underline !important;
    }
    a,
    p {
        color: $style-color__blue;
        font-size: 14px;
    }
}

// footer
footer {
    margin: 28px 0 16px 0 !important;
    text-align: center;
    a,
    p {
        width: auto !important;
        color: $style-color__grey !important;
    }
}

.container {
    padding: 15px 12px;
}

#gooddet {
    border-top: 4px solid $style-color__green__Light;
    border-radius: 2px;
    .goodimg {
        padding-right: 15px;
        img {
            width: 80px;
        }
    }
    .weui-flex {
        text-align: right;
    }
    .weui-form-preview {
        border: 1px solid #eee;
        border-radius: 3px;
        &:first-child {
            border-radius: 0 0 3px 3px;
        }
        margin-bottom: 15px;
        &::before,
        &::after {
            content: none;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .weui-form-preview__btn {
        font-weight: 800;
        color: $style-color__grey;
        &:nth-child(2) {
            color: $style-color__green !important;
        }
    }
    .weui-form-preview__hd {
        &::after {
            content: none;
        }
        padding-bottom: 5px;
    }
}

#flexButton {
    position: fixed;
    bottom: 0;
    width: 100%;
    .weui-btn-area {
        width: 100%;
        padding: 0;
        margin: 0;
        .weui-btn_primary {
            border-radius: 0;
        }
    }
}

#backup {
    width: 100%;
    height: 45px; // background: #393a3f; 繁体
    background: $style-color__blue;
    .iconfont {
        color: white;
        padding: 0 10px;
        line-height: 45px;
        font-size: 30px !important;
        position: absolute;
        text-align: left;
    }
    div {
        text-align: center;
        span {
            color: white;
            width: 100%;
            font-size: 18px !important;
            line-height: 45px;
        }
    }
}