@import 'var.scss';
//卡片
.card {
    border-radius: 3px;
    .weui-flex:nth-child(even) {
        background: $style-card-color__grey__Light !important;
        div {
            background: $style-card-color__grey__Light !important;
        }
    }
    .weui-flex__item {
        line-height: 3;
        &:first-child {
            width: 240px;
        }
    }
}

.card-small {
    .box {
        box-shadow: 0px 0px 8px 2px #bbb;
        color: white;
        border-radius: 7px;
        overflow: hidden;
    }
    .weui-flex__item {
        background: $style-color__green__Light !important;
        line-height: 3;
    }
    .weui-flex:first-child .weui-flex__item {
        background: white !important;
        color: $style-color__green__Light;
        font-weight: 800;
    }
}

// head-title
#head-title {
    color: $style-color__green;
    margin: 32px auto 38px auto;
    text-align: center;
    a {
        text-decoration: underline !important;
    }
    a,
    p {
        font-size: 14px;
        color: $style-color__green;
    }
}

// footer
footer {
    margin: 28px 0 16px 0 !important;
    text-align: center;
    a {
        color: $style-color__grey !important;
    }
}

.container {
    padding: 15px 12px;
}