$style-color__grey :#999999;
$style-color__black:#424242;
$style-color__grey__Light:#dddddd;
$style-card-color__grey__Light:#f8f8f8;
$style-color__green:#1d9918;
$style-color__green__Light:#19a512;

// 校徽三原色
$style-color__blue:#2981D9;
$style-color__blue__Light:#2981D9;
$style-color__red:#E74C3C;
$style-color__yellow:#F1C71F;

$style-color__bg:#f3f3f3;


