$style-color__grey :#999999;
$style-color__black:#424242;
$style-color__grey__Light:#dddddd;
$style-card-color__grey__Light:#f8f8f8;
$style-color__green:#1d9918;
$style-color__green__Light:#19a512;

// 校徽三原色
$style-color__blue:rgba(41, 129, 217, 0.85);
$style-color__red:rgb(231,76,60);
$style-color__yellow:rgb(241,199,31);

$style-color__bg:#f3f3f3;


