$style-color__grey :#999999;
$style-color__black:#424242;
$style-color__grey__Light:#dddddd;
$style-card-color__grey__Light:#f8f8f8;
$style-color__green:#1d9918;
$style-color__green__Light:#23bd1b;

// 校徽三原色
$style-color__blue:#2981D9;
$style-color__blue__Light:rgb(82, 167, 252);
$style-color__red:rgb(223, 74, 58);
$style-color__yellow:rgb(226, 189, 42);
$style-color__yellow__Light:rgb(255, 215, 57);
$style-color__bg:#f3f3f3;


