$style-color__grey :#999999;
$style-color__black:#424242;
$style-color__grey__Light:#dddddd;
$style-card-color__grey__Light:#f8f8f8;
$style-color__green:rgb(238,69,38);
$style-color__green__Light:#19a512;
$style-color__bg:#f3f3f2 ;
