@import 'var.scss';
p,
.weui-cells,
.weui-cell,
.weui-article,
.weui-flex__item,
.weui-flex-two__sm,
.weui-tabbar__label {
    font-size: 14px !important;
}

.weui-tabbar__icon {
    padding: 8px 0 3px 0;
    width: 24px;
    height: 24px;
}

.weui-flex__item {
    line-height: 2;
}

.weui-flex {
    text-align: center;
}

.weui-input {
    color: $style-color__grey !important;
}

// 去除高德地图Logo 对不起，o(╥﹏╥)o
.amap-logo,
.amap-copyright {
    display: none !important; 
}

article,
.weui-cell,
.weui-cells,
.weui-cell__hd,
.weui-flex__item {
    background: rgb(255, 255, 255) !important;
}

.weui-select {
    height: auto !important;
    line-height: 1.6 !important;
    border-radius: 5px;
}

body {
    background: $style-color__bg !important;
    color: $style-color__black;
}

.weui-flex-two__sm {
    width: 90px !important;
    line-height: 3;
}

.container {
    background: white;
}

.weui-cell__hd {
    font-weight: 800;
    color: $style-color__blue;
}

.weui-btn_primary {
    background: $style-color__blue !important;
}