include ../common/mixin.jade

head 
    +conf("考试报名")

body
    #testconfirm
        .weui-btn-area
            .weui-btn.weui-btn_primary
                h2 四六级报名
                .weui-cells
                    .weui-cell.weui-cell_select.weui-cell_select-after
                        .weui-cell__hd
                            label.weui-label 英语考试
                        .weui-cell__bd
                            select.weui-select
                                option(value="1") 四级口语 6月12日
                                option(value="2") 四级笔试 6月16日
                                option(value="3") 六级口语 6月13日
                                option(value="4") 六级笔试 6月19日
                p *学校统一报名，一旦确认不可更改
        .weui-btn-area
            .weui-btn.weui-btn_primary
                h2 计算机二级考试报名
                .weui-cells
                    .weui-cell.weui-cell_select.weui-cell_select-after
                        .weui-cell__hd
                            label.weui-label 计算机二级
                        .weui-cell__bd
                            select.weui-select
                                option C语言 5月16日
                                option 办公软件 5月18日
                                option 音频处理 5月17日       
                p *学校统一报名，一旦确认不可更改

    script.
        var select1 = document.getElementsByTagName("select")[0];
        var select2 = document.getElementsByTagName("select")[1];

        select1.value.onchange = function(){
            console.log("changed")
        }