@import 'block/var.scss';
@import 'block/weui.scss';
@import 'block/block.scss';
@import 'block/diy.scss';

body {
    background: $style-color__bg !important;
    color: $style-color__black;
}

article,
.weui-cell,
.weui-flex__item {
    background: white;
}

select {
    border-radius: 5px;
}

.weui-flex-two__sm {
    width: 90px !important;
    line-height: 3;
}

.weui-label {
    width: 70px !important;
}

.container {
    padding: 12px 15px !important;
    background: white;
}

.weui-cell__hd {
    font-weight: 800;
    padding-right: 25px;
}