p,
.weui-cells,
.weui-cell,
.weui-article,
.weui-flex__item,
.weui-flex-two__sm,
.weui-tabbar__label {
  font-size: 14px !important;
}

.weui-tabbar__icon font {
  padding: 2px;
}

.weui-tabbar__icon p {
  font-size: 12px !important;
}

.weui-flex__item {
  line-height: 2;
}

.weui-flex {
  text-align: center;
}

.weui-input {
  color: #999999 !important;
}

.amap-logo,
.amap-copyright {
  display: none !important;
}

article,
.weui-cell,
.weui-cells,
.weui-cell__hd,
.weui-flex__item {
  background: white !important;
}

.weui-select {
  height: auto !important;
  line-height: 1.6 !important;
  border-radius: 5px;
}

body {
  background: #f3f3f3 !important;
  color: #424242;
}

.weui-flex-two__sm {
  width: 90px !important;
  line-height: 3;
}

.container {
  background: white;
}

.weui-cell__hd {
  font-weight: 800;
  color: #2981D9;
}

.weui-btn_primary {
  background: #2981D9 !important;
}

#search_show {
  margin-top: 0;
}

#grade .card .weui-flex:first-child {
  font-weight: 800;
}

#grade .weui-cell__hd {
  width: 50px !important;
}

#grade .course {
  width: 120px !important;
}

#data .data-title {
  color: #2981D9;
  font-weight: 800;
}

#data .data-time {
  color: #dddddd;
  font-size: 0.84em;
}

#data p {
  font-weight: 0.8em;
}

#bus .time {
  font-weight: 800;
  width: 60px;
}

#bus .weui-input,
#bus .weui-select {
  color: #2981D9 !important;
  font-weight: 800;
}

#bus .weui-label {
  color: #999999 !important;
}

#buy .activeIcon p,
#buy .activeIcon font {
  color: #2981D9;
}

#buy #menuButton {
  padding: 0 3px;
  margin-left: 8px;
  color: white;
  line-height: 1.2;
  font-weight: 800;
  border-radius: 3px;
  font-size: 24px;
  text-align: center;
  background: #2981D9;
}

#buy .fliter {
  filter: url(blur.svg#blur);
  filter: blur(30px);
}

#buy #portrait {
  background: #2981D9;
  padding: 40px 30px;
  overflow: hiadden;
}

#buy #portrait .weui-flex__item__extend {
  width: 80px;
  height: 58px;
  padding-right: 20px;
  text-align: right;
}

#buy #portrait .weui-flex__item__extend img {
  border-radius: 50px;
  border: 3px solid white;
  width: 58px;
}

#buy #portrait .weui-flex__item:last-child {
  height: 58px;
  background: #2981D9 !important;
  text-align: left;
}

#buy #portrait .weui-flex__item:last-child a {
  font-size: 16px;
  color: white;
  line-height: 95px;
}

#buy #uploader .weui-cell {
  text-align: left;
}

#buy #pages2 .weui-cells a {
  width: 100%;
}

#buy #rightNav {
  display: none;
  width: 25%;
  position: fixed;
  right: 0;
  padding: 80px 20px 6px 20px;
  background: #2981D9;
  z-index: 3;
  border-radius: 0 0 0 3px;
  box-shadow: 0px 0px 50px 3px #999;
}

#buy #rightNav li {
  text-align: center !important;
  list-style: none !important;
}

#buy #rightNav li a {
  line-height: 3;
  font-weight: 800;
  letter-spacing: 2px;
  color: white;
}

#buy #rightNav li a font {
  font-weight: 300;
  font-size: 2.2em;
  margin-top: 30px;
  color: rgba(255, 254, 254, 0.2);
}

#buy #goods {
  padding: 2px;
}

#buy #goods .weui-flex {
  border-bottom: 3px solid #f3f3f3;
}

#buy #goods .weui-flex__item {
  padding: 3px;
}

#buy #goods .weui-flex__item img {
  width: 80%;
}

#buy #goods .weui-flex__item:first-child {
  border-right: 3px solid #f3f3f3;
}

#buy #goods .weui-flex__item div {
  padding: 0 8px 8px 8px;
  text-align: left !important;
}

#buy #goods .weui-flex__item div span {
  text-align: left !important;
}

#buy #goods .weui-flex__item div span:first-child {
  background: #ecd035;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 4px;
  margin-right: 5px;
}

#buy #goods .weui-flex__item div span:last-child {
  float: right;
  color: #ec3535;
  font-weight: 800;
  font-size: 14px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#buy .iconfont {
  font-size: 24px;
}

.card {
  border-radius: 3px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.card:last-child {
  margin-bottom: 0;
}

.card .weui-flex:nth-child(even) {
  background: #f8f8f8 !important;
}

.card .weui-flex:nth-child(even) div {
  background: #f8f8f8 !important;
}

.card .weui-flex__item {
  line-height: 3;
}

.card .weui-flex__item:first-child {
  width: 240px;
}

.card-small {
  padding-bottom: 20px;
}

.card-small .box {
  box-shadow: 0px 0px 20px 1px #ddd;
  color: white;
  border-radius: 7px;
  overflow: hidden;
}

.card-small .weui-flex__item {
  background: #2981D9 !important;
  font-weight: 800;
  line-height: 3;
}

.card-small .weui-flex__item span {
  color: #F1C71F;
}

.card-small .weui-flex:first-child .weui-flex__item {
  background: white !important;
  color: #2981D9;
  font-weight: 800;
}

.card-small:last-child {
  padding-bottom: 0;
}

#head-title {
  color: #2981D9;
  margin: 32px auto 38px auto;
  text-align: center;
}

#head-title a {
  text-decoration: underline !important;
}

#head-title a,
#head-title p {
  color: #2981D9;
  font-size: 14px;
}

footer {
  margin: 28px 0 16px 0 !important;
  text-align: center;
}

footer a,
footer p {
  width: auto !important;
  color: #999999 !important;
}

.container {
  padding: 15px 12px;
}

#gooddet .goodimg {
  padding-right: 15px;
}

#gooddet .goodimg img {
  width: 80px;
}

#gooddet .weui-flex {
  text-align: right;
}

#gooddet .weui-form-preview {
  border: 1px solid #eee;
  margin-bottom: 15px;
}

#gooddet .weui-form-preview::before, #gooddet .weui-form-preview::after {
  content: none;
}

#gooddet .weui-form-preview__btn {
  color: #2981D9;
  font-weight: 800;
}
/*# sourceMappingURL=main.css.map */