.weui-cells,
.weui-cell,
.weui-article{
    font-size: 14px !important;
}

.weui-label{
    width: 70px !important;
}
.weui-flex__item{
    line-height: 2;
}
/*
* var
*/

$style-color__grey :#999999;
$style-color__black:#424242;
$style-color__grey__Light:#dddddd;
$style-color__green:#1aad19;
$style-color__bg:#fafafa;

/*
* style
*/

.box-none {
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    padding: 12px 15px !important;
    background: white;
}

.weui-lable {
    color: $style-color__green;
    font-weight: 800;
    padding-right: 25px;
}

.weui-cell,
.weui-flex__item,
article {
    background: white;
}

select {
    border-radius: 5px;
}

.weui-flex {
    text-align: center;
}

.grade {
    line-height: 3;
    font-size: 0.9em;
    &>div:first-child {
        font-weight: 800;
        border-bottom: $style-color__bg 1px solid;
    }
}

.grades.course {
    width: 120px;
}


/* 
* block
*/

body {
    background: $style-color__bg;
    color: $style-color__black;
}

// footer
footer {
    margin: 28px 0 16px 0 !important;
    text-align: center;
    a {
        color: $style-color__grey !important;
    }
}

// title
.com-h2__title {
    color: $style-color__green;
    margin: 60px auto 60px auto;
    text-align: center;
}

.com-p__data {
    color: $style-color__black;
}

.com-p__date {
    color: $style-color__grey__Light;
    font-size: 0.84em;
}

.green {
    color: $style-color__green;
    font-weight: 800 !important;
}

.weui-cells:before,
.weui-cell:before,
.weui-cells:after {
    border: none !important;
}