include ../common/mixin.jade

doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    +conf("校车查询")
    style(type='text/css').
      * {
      margin: 0px;
      padding: 0px;
      }
      body,
      button,
      input,
      select,
      textarea {
      font: 12px/16px Verdana, Helvetica, Arial, sans-serif;
      }
      p {
      width: 603px;
      padding-top: 3px;
      overflow: hidden;
      }
      .btn {
      width: 142px;
      }
    script(src='http://map.qq.com/api/js?v=2.exp', charset='utf-8')
  body(onload='init()')

    .weui-cells__title 校车位置
    script.
          var init = function() {
            var center = new qq.maps.LatLng(30.438707,114.295422);
            var map = new qq.maps.Map(document.getElementById('container'), {
                center: center,
                maxZoom:18,
                minZoom:8,
                zoom: 15,
                zoomControl: false
            });
              var marker = new qq.maps.Marker({
              position: center,
              map: map,
              content:"Dd"
            });
          }
    .weui-cells
        .container
            #container.container(style='width:auto;height:380px')
