.my-map {
    margin: 0 auto;
    height: 360px;
}

.my-map .icon {
    background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat;
}

.my-map .icon-pot {
    height: 23px;
    width: 31px;
}

.my-map .icon-pot-red {
    background-position: -234px -5px;
}

.my-map .icon-pot-blue {
    background-position: -234px -55px;
}

.my-map .icon-cir {
    height: 31px;
    width: 28px;
}

.my-map .icon-cir-red {
    background-position: -11px -5px;
}

.amap-container {
    height: 100%;
}