include ../common/mixin.jade

doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        +conf("校车查询")
        link(rel="stylesheet", href="main.css")
        
        
    body
    #bus
        .weui-cells__title 切换车型
        .weui-cells
            .weui-cell.weui-cell_switch
                .weui-cell__bd 切换到学生校车
                .weui-cell__hd
                    input.weui-switch(type="checkbox")
        .weui-cells__title 切换时间
        .weui-cells
            .weui-cell
                .weui-cell__hd
                    label.weui-label 路线
                .weui-cell__bd
                    input.weui-input(onclick="getRoute()", name="err", readonly="readonly")
        
        .weui-cells__title 班车信息
        .container
            .card-small
                #road.box
                    .weui-flex
                        .weui-flex__item {{active[1]}}
                    .weui-flex
                        .weui-flex__item {{active[0][0]}}：{{active[0][1]}}
        .weui-cells__title 校车位置
        .container
            #wrap.my-map
                #mapContainer

        +footer

        script(src="js/teacher/json.js")
  
        script(src="../../../lib/vue/vue.js")
        script(src='js/teacher/vmVue.js')

        // 这是一辆教师车
        script.
            var switchbus = document.getElementsByClassName("weui-switch")[0];
            switchbus.onclick = function () {
                window.location.href = "index.html";
            }

        script(src='js/teacher/defaultTime.js')
        script(src='js/teacher/defaultInfo.js')

        script(src='js/teacher/getRoute.js')

        // 高德地图-地图链接
        script(src='http://webapi.amap.com/maps?v=1.4.0&key=ccd246a376313ca38a649a9edd48131c')
        // 高德地图-JS开发
        script(src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11")
        script(src="js/teacher/map.js")
        script.
            window.onload = function () {
           
                defaultTime();
                defaultInfo();
                vm.chioce();
                addMap();
            }

