include ../common/mixin.jade

doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    +conf("校车查询")
    style.
      .my-map { margin: 0 auto; height: 360px; }
      .my-map .icon { background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat; }
      .my-map .icon-pot { height: 23px; width: 31px; }
      .my-map .icon-pot-red { background-position: -234px -5px; }
      .my-map .icon-pot-blue { background-position: -234px -55px; }
      .my-map .icon-cir { height: 31px; width: 28px; }
      .my-map .icon-cir-red { background-position: -11px -5px; }
      .amap-container{height: 100%;}
  body
  #bus
    .weui-cells__title 切换车型
    .weui-cells
        .weui-cell.weui-cell_switch
            .weui-cell__bd 切换到学生校车
            .weui-cell__hd
                input.weui-switch(type="checkbox")

    .weui-cells__title 切换时间
    .weui-cells
        .weui-cell
            .weui-cell__hd 
                label.weui-label 路线
            .weui-cell__bd
                input.weui-input(onclick="getDorm();",name="err", placeholder="早班 财大首义校区路线1",readonly="readonly")
   

    script.
        
        function getDorm(){
            weui.picker([
                {
                    label: '早班',
                    value: 0,
                    children: [
                        {
                            label: '财大首义校区 路线1',
                            value: 1
                        },
                        {
                            label: '财大首义校区 路线2',
                            value: 2
                        },
                        {
                            label: '森林公园',
                            value: 3
                        },
                        {
                            label: '光谷校区',
                            value: 4
                        },
                        {
                            label: '徐东平价',
                        }
                    ]
                },
                {
                    label: '中班',
                    value: 1,
                    children: [
                        {
                            label: '武汉理工大学',
                            value: 1,
                        },
                        {
                            label: '财大津发小区',
                            value: 2
                        }
                    ]
                },
                {
                    label: '晚班',
                    value: 3,
                    children: [
                        {
                            label: '财大首义校区 路线1',
                            value: 1
                        },
                        {
                            label: '财大首义校区 路线2',
                            value: 2
                        },
                        {
                            label: '森林公园',
                            value: 3
                        },
                        {
                            label: '光谷校区',
                            value: 4
                        },
                        {
                            label: '徐东平价',
                        }
                    ]
                }
                ],{  
                    onConfirm: function (result) {
                        // 获取value为result[0] result[1]
                        var str = result[0].label + "  " + result[1].label

                        $(".weui-input")[0].value = str;
                    },
            });
        }

    .weui-cells__title 行驶路线

    .container
        .card
            .weui-flex
                    .weui-flex__item 财大首义校区（7:10）
            .weui-flex
                    .weui-flex__item 首义路B出口（7:15）
            .weui-flex
                    .weui-flex__item 烽火村公交站（7:20）                    
            .weui-flex
                    .weui-flex__item 白沙四路（7:25）
             .weui-flex
                    .weui-flex__item 大学城校区（8:10前） 

    .weui-cells__title 校车位置

    .container
      #wrap.my-map
        #mapContainer

    script(src='https://webapi.amap.com/maps?v=1.3&key=8325164e247e15eea68b59e89200988b')
    script.

      ! function () {
          var infoWindow, map, level = 15,

              center = {
                  lng: 114.296115,
                  lat: 30.441589
              },
            
              // 标记及路线图
            features = [{type: "Marker", name: "财大首义校区", desc: "", color: "red", icon: "cir", offset: {x: -9, y: -31}, lnglat: {lng: 114.314109, lat: 30.537912}},
                        {type: "Marker", name: "首义路地铁站B口", desc: "", color: "red", icon: "cir", offset: {x: -9, y: -31}, lnglat: {lng: 114.309839, lat: 30.53374}},
                        {type: "Marker", name: "白沙洲大道烽火村(公交站)", desc: "", color: "red", icon: "cir", offset: {x: -9, y: -31}, lnglat: {lng: 114.298914, lat: 30.508873}},
                        {type: "Marker", name: "白沙四路", desc: "", color: "red", icon: "cir", offset: {x: -9, y: -31}, lnglat: {lng: 114.275199, lat: 30.478149}},

                        {type: "Marker", name: "武汉学院", desc: "", color: "red", icon: "cir", offset: {x: -9, y: -31}, lnglat: {lng: 114.2974, lat: 30.442026}},

                        {type: "Polyline", name: "班车路线", desc: "", strokeWeight: 5, strokeColor: "#F0202F", strokeOpacity: 0.8, lnglat: [{lng: 114.314352, lat: 30.538089}, {lng: 114.309717, lat: 30.533653}, {lng: 114.301563, lat: 30.534393}, {lng: 114.301306, lat: 30.52212}, {lng: 114.301392, lat: 30.519754}, {lng: 114.300276, lat: 30.518053}, {lng: 114.299332, lat: 30.511916}, {lng: 114.299203, lat: 30.511214}, {lng: 114.298602, lat: 30.509993}, {lng: 114.296027, lat: 30.505446}, {lng: 114.287315, lat: 30.496127}, {lng: 114.286757, lat: 30.495277}, {lng: 114.285084, lat: 30.493576}, {lng: 114.283453, lat: 30.491283}, {lng: 114.274741, lat: 30.478339}, {lng: 114.273486, lat: 30.4764}, {lng: 114.277091, lat: 30.474698}, {lng: 114.283614, lat: 30.472997}, {lng: 114.291854, lat: 30.473367}, {lng: 114.29297, lat: 30.473367}, {lng: 114.293056, lat: 30.473367}, {lng: 114.293313, lat: 30.463897}, {lng: 114.293313, lat: 30.46116}, {lng: 114.291682, lat: 30.458867}, {lng: 114.293828, lat: 30.457831}, {lng: 114.298206, lat: 30.455981}, {lng: 114.301038, lat: 30.455241},  {lng: 114.300266, lat: 30.444956}, {lng: 114.300695, lat: 30.441478}, {lng: 114.297433, lat: 30.441996}]}];

          function loadFeatures() {
              for (var feature, data, i = 0, len = features.length, j, jl, path; i < len; i++) {
                  data = features[i];
                  switch (data.type) {
                      case "Marker":
                          feature = new AMap.Marker({
                              map: map,
                              position: new AMap.LngLat(data.lnglat.lng, data.lnglat.lat),
                              zIndex: 3,
                              extData: data,
                              offset: new AMap.Pixel(data.offset.x, data.offset.y),
                              title: data.name,
                              content: '<div class="icon icon-' + data.icon + ' icon-' + data.icon + '-' + data.color + '"></div>'
                          });
                          break;
                      case "Polyline":
                          for (j = 0, jl = data.lnglat.length, path = []; j < jl; j++) {
                              path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
                          }
                          feature = new AMap.Polyline({
                              map: map,
                              path: path,
                              extData: data,
                              zIndex: 2,
                              strokeWeight: data.strokeWeight,
                              strokeColor: data.strokeColor,
                              strokeOpacity: data.strokeOpacity
                          });
                          break;
                      case "Polygon":
                          for (j = 0, jl = data.lnglat.length, path = []; j < jl; j++) {
                              path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
                          }
                          feature = new AMap.Polygon({
                              map: map,
                              path: path,
                              extData: data,
                              zIndex: 1,
                              strokeWeight: data.strokeWeight,
                              strokeColor: data.strokeColor,
                              strokeOpacity: data.strokeOpacity,
                              fillColor: data.fillColor,
                              fillOpacity: data.fillOpacity
                          });
                          break;
                      default:
                          feature = null;
                  }
                  if (feature) {
                      AMap.event.addListener(feature, "click", mapFeatureClick);
                  }
              }
          }

          function mapFeatureClick(e) {
              if (!infoWindow) {
                  infoWindow = new AMap.InfoWindow({
                      autoMove: true
                  });
              }
              var extData = e.target.getExtData();
              infoWindow.setContent("<h5>" + extData.name + "</h5><div>" + extData.desc + "</div>");
              infoWindow.open(map, e.lnglat);
          }
          map = new AMap.Map("mapContainer", {
              center: new AMap.LngLat(center.lng, center.lat),
              level: level
          });
          loadFeatures();

          
      }();



    script.
      var switchbus = document.getElementsByClassName("weui-switch")[0];

      switchbus.onclick = function () {
        window.location.href="index.html"; 
      } 
    

        
    +footer

