include ../common/mixin.jade

doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    +conf("校车查询")
    style.
      .my-map { margin: 0 auto; height: 360px; }
      .my-map .icon { background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat; }
      .my-map .icon-pot { height: 23px; width: 31px; }
      .my-map .icon-pot-red { background-position: -234px -5px; }
      .my-map .icon-pot-blue { background-position: -234px -55px; }
      .my-map .icon-cir { height: 31px; width: 28px; }
      .my-map .icon-cir-red { background-position: -11px -5px; }
      .amap-container{height: 100%;}
  body
  #bus
    .weui-cells__title 切换车型
    .weui-cells
        .weui-cell.weui-cell_switch
            .weui-cell__bd 切换到学生校车
            .weui-cell__hd
                input.weui-switch(type="checkbox")

    .weui-cells__title 切换时间
    .weui-cells
        .weui-cell
            .weui-cell__hd 
                label.weui-lable(for="") 时间
            .weui-cell__bd
                select.weui-select
                    option 早班
                    option 中班
                    option 晚班
        .weui-cell
            .weui-cell__hd 
                label.weui-lable(for="") 路线
            .weui-cell__bd
                select.weui-select
                    option 财大首义校区 路线1
                    option 财大首义校区 路线2
                    option 森林公园         
                    option 光谷校区
                    option 徐东平价  

    .weui-cells__title 行驶路线

    .container
        .card
            .weui-flex
                    .weui-flex__item 财大首义校区（7:10）
            .weui-flex
                    .weui-flex__item 首义路B出口（7:15）
            .weui-flex
                    .weui-flex__item 烽火村公交站（7:20）                    
            .weui-flex
                    .weui-flex__item 白沙四路（7:25）
             .weui-flex
                    .weui-flex__item 大学城校区（8:10前） 
    script.
      var switchbus = document.getElementsByClassName("weui-switch")[0];

      switchbus.onclick = function () {
        window.location.href="index.html"; 
      } 
    
    script.
      time = {
            "pm":[
                "财大首义校区路线2","fff"
            ]            
      }
        // 跳转到根目录
        window.history.go(-1)
        
    +footer

