footer.weui-footer
    div
        p 
            a.weui-footer__link(href="../102.data/index.html") 版本日志
            a.weui-footer__link(href="../101.message/index.html") 留言反馈
    div
        p.ueui-footer__text Copyright &copy; 2017 信息中心
   
