include ../common/mixin.jade
head
    +conf("订单列表")
body 
    +com-title("历史订单","返回主页","index.html")    
    .container#gooddet
        .weui-form-preview
                .weui-form-preview__hd
                    label.weui-form-preview__label 标示价格
                    em.weui-form-preview__value ¥2400.0
                .weui-form-preview__bd
                    .weui-flex
                        .goodimg
                            img(src="img/good1.jpg")
                        .weui-flex__item
                            p
                                label.weui-form-preview__label 商品
                                span.weui-form-preview__value 黄冈密卷
                            p
                                label.weui-form-preview__label 联系方式
                                span.weui-form-preview__value 张三 18086407838
                .weui-form-preview__ft
                    a.weui-form-preview__btn.weui-form-preview__btn_primary(href='good.html') 查看                   

    .weui-cells__title 已结束
    .container#gooddet     
        .weui-form-preview
                .weui-form-preview__hd
                    label.weui-form-preview__label 标示价格
                    em.weui-form-preview__value ¥520.0
                .weui-form-preview__bd
                    .weui-flex
                        .goodimg
                            img(src="img/good2.jpg")
                        .weui-flex__item
                            p
                                label.weui-form-preview__label 商品
                                span.weui-form-preview__value 黄冈密卷
                            p
                                label.weui-form-preview__label 联系方式
                                span.weui-form-preview__value 李四 18086407838
                .weui-form-preview__ft
                    a.weui-form-preview__btn.weui-form-preview__btn_primary(href='good.html') 查看 
        .weui-form-preview
                .weui-form-preview__hd
                    label.weui-form-preview__label 标示价格
                    em.weui-form-preview__value ¥250.0
                .weui-form-preview__bd
                    .weui-flex
                        .goodimg
                            img(src="img/test.png")
                        .weui-flex__item
                            p
                                label.weui-form-preview__label 商品
                                span.weui-form-preview__value 黄冈密卷
                            p
                                label.weui-form-preview__label 联系方式
                                span.weui-form-preview__value 王五 18086407838
                .weui-form-preview__ft
                    a.weui-form-preview__btn.weui-form-preview__btn_primary(href='good.html') 查看                                                             
    +footer