include ../common/mixin.jade
head
    +conf("订单列表")
body
    
    .weui-cells__title 进行中
    .container
        .card-small
            #road.box
                .weui-flex
                    .weui-flex__item 全新IPad Air2出售 
                        span ￥20.0
                .weui-flex
                    .weui-flex__item 张三 18086407838  
                        
        .card-small
            #road.box
                .weui-flex
                    .weui-flex__item 手把手教PS 
                        span ￥5.0 
                .weui-flex
                    .weui-flex__item 王五 18086406666                      

    .weui-cells__title 已结束
    .container
        .card
            .weui-flex
                .weui-flex-two__sm 购买时间
                .weui-flex__item 2017年10月21日
            .weui-flex
                .weui-flex-two__sm 商品
                .weui-flex__item 大花岭兼职50月/天
             .weui-flex
                .weui-flex-two__sm 李四
                .weui-flex__item 18888888888        
        .card
            .weui-flex
                .weui-flex-two__sm 购买时间
                .weui-flex__item 2017年10月21日
            .weui-flex
                .weui-flex-two__sm 商品
                .weui-flex__item 大花岭兼职50月/天
             .weui-flex
                .weui-flex-two__sm 李四
                .weui-flex__item 18888888888                                        
    +footer