include ../common/mixin.jade
head
    +conf("收藏列表")
body
    +com-title("我的收藏")
    .weui-form-preview
            .weui-form-preview__hd
                label.weui-form-preview__label 标示价格
                em.weui-form-preview__value ¥2400.00
            .weui-form-preview__bd
                .weui-flex
                    .aa
                        img(src="img/test.png", alt="",width="50px")
                    .weui-flex__item
                        p
                            label.weui-form-preview__label 商品
                            span.weui-form-preview__value 黄冈密卷
                        p
                            label.weui-form-preview__label 商品描述
                            span.weui-form-preview__value 从狙击手手里抢的期末试卷出售
            .weui-form-preview__ft
                a.weui-form-preview__btn.weui-form-preview__btn_primary(href='javascript:') 查看       
    +footer