include ../common/mixin.jade
head
    +conf("收藏列表")
body
    +com-title("我的收藏")
    .weui-form-preview
            .weui-form-preview__hd
                label.weui-form-preview__label 标示价格
                em.weui-form-preview__value ¥2400.00
            .weui-form-preview__bd
                p
                label.weui-form-preview__label 商品
                span.weui-form-preview__value 黄冈密卷
                p
                label.weui-form-preview__label 时间
                span.weui-form-preview__value 2018年1月11日
                p
                label.weui-form-preview__label 商品描述
                span.weui-form-preview__value 明天要考试，我还没复习
            .weui-form-preview__ft
                a.weui-form-preview__btn.weui-form-preview__btn_primary(href='javascript:') 查看       
    +footer