include ../common/mixin.jade
doctype html
head
    +conf("收藏列表")
body
#good
    .container

        hr
        div
            h3 ￥230.0
            p 今年刚买的小米Mix 2，最高配置，用了几天发现打王者上分太快，导致变妹子成群，现在转交给年轻人。
        div
            img(src="img/good1.jpg", alt="")
            img(src="img/good1.jpg", alt="")
        hr
    .weui-form-preview

        .weui-form-preview__bd
            label.weui-form-preview__label 联系方式
            span.weui-form-preview__value 老王 18086407838
            p
            label.weui-form-preview__label 宿舍
            span.weui-form-preview__value 竹枫斋4舍
        .weui-form-preview__ft
            a.weui-form-preview__btn.weui-form-preview__btn_primary(href='javascript:') 操作

    #flexButton
        .weui-btn-area
            a.weui-btn.weui-btn_primary 购买