include ../common/mixin.jade
doctype html
head
    +conf("收藏列表")
body
#good
    .container

        hr
        div
            h3 ￥230.0
            p 今年刚买的小米Mix 2，最高配置，用了几天发现打王者上分太快，导致变妹子成群，现在转交给年轻人。
        div
            img(src="img/good1.jpg", alt="")
            img(src="img/good1.jpg", alt="")
        hr
        .container
            .card-small
                #road.box
                    .weui-flex
                        .weui-flex__item 老王 18086407838
                    .weui-flex
                        .weui-flex__item 竹枫斋4舍
    #flexButton
        .weui-btn-area
            a.weui-btn.weui-btn_primary 购买