include ../common/mixin.jade
doctype html
head
    +conf("商品详情")
body
#good
    #gooddet.person     
        .weui-form-preview
            .weui-form-preview__bd
                .weui-flex
                    .goodimg
                        img(src="img/test.png")
                    .weui-flex__item
                        p
                            label.weui-form-preview__label 宿舍
                            span.weui-form-preview__value 竹枫斋4舍
                        p
                            label.weui-form-preview__label 联系方式
                            span.weui-form-preview__value 李四 18086407838
                   
    .container
        #goodCotnet
            div.content
                h2.price ￥8.8
                p 柚子皮，来自人杰地灵的信息中心，天然成型，适合驱虫祛味，是您安睡的必备佳品。
            div
                img(src="img/youzipi1.jpg", alt="")
                img(src="img/youzipi2.jpg", alt="")
      
    +footer
    #flexButton(onclick="buy()")
        .weui-btn-area
            a.weui-btn.weui-btn_primary 购买

    script.
        function buy(){
            weui.confirm('购买成功！请主动联系商家取货！',function(){
                window.location.href = "buylist.html";

            });
        }