include ../common/mixin.jade

head
    +conf("二手市场")
    style.
        html {
            height: 100% !important;
        
        }
   
body
    +footer
    .weui-tab
        .weui-tab__panel    
            p Page 1
            p Page 1
            p Page 1
        .weui-tabbar
            a.weui-tabbar__item.weui-bar__item_on
                p.weui-tabbar__label hello
            a.weui-tabbar__item.weui-bar__item_on
                p.weui-tabbar__label hello
            a.weui-tabbar__item.weui-bar__item_on
                p.weui-tabbar__label hello                                        

    
                    
