include ../common/mixin.jade

head
    +conf("二手市场")

body
    .weui-tab
        .weui-tabbar
            a.weui-tabbar__item.weui-bar__item_on(href="")
                p 商品列表
                font.iconfont.icon-svgmoban06
        .weui-tabbar
            a.weui-tabbar__item.weui-bar__item_on(href="")
                p 订单中心
                