doctype html
include ../common/mixin.jade
html(lang='en')
    head
        +conf("二手市场")
        style.
            html,body{
                height:100%;
            }

    body(ontouchstart)#buy
        script.
            window.onload =function (){
                weui.searchBar('#searchBar');
            }

        .weui-tab
            .weui-tab__panel    
                #searchBar.weui-search-bar
                    form.weui-search-bar__form
                        .weui-search-bar__box
                            i.weui-icon-search
                            input#search_input.weui-search-bar__input(type='search', placeholder='搜索')
                            a#search_clear.weui-icon-clear(href='javascript:')
                        label#search_text.weui-search-bar__label(for='search_input')
                            i.weui-icon-search
                            span 搜索
                    a#search_cancel.weui-search-bar__cancel-btn(href='javascript:') 取消

                #search_show.weui-cells.weui-cells_access.search_show(style="display:none")
                    .weui-cell
                        .weui-cell__bd.weui-cell_primary
                        p 实时搜索文本
                    .weui-cell
                        .weui-cell__bd.weui-cell_primary
                        p 实时搜索文本
                    .weui-cell
                        .weui-cell__bd.weui-cell_primary
                        p 实时搜索文本
                    .weui-cell
                        .weui-cell__bd.weui-cell_primary
                        p 实时搜索文本

                .weui-cells__title Goods

                .weui-flex#goods
                    .weui-flex__item 
                        img(src="img/good1.jpg",style="margin:8px")
                        p  MIX 4999
                    .weui-flex__item                         
                        img(src="img/good2.jpg" ,style="margin:8px")
                        p Water 1499
   
                          
                +footer

            

            .weui-tabbar
                a.weui-tabbar__item
                    embed.weui-tabbar__icon(src="img/商城.svg")
                    p.weui-tabbar__label 购物
                a.weui-tabbar__item
                    embed.weui-tabbar__icon(src="img/订单.svg")
                    p.weui-tabbar__label 订单




