doctype html
include ../common/mixin.jade
html(lang='en')
    head
        +conf("二手市场")
        link(rel="stylesheet", href="//at.alicdn.com/t/font_490682_ljwndccyr7vcayvi.css")
        style.
            html,body{
                height:100%;
            }

    body(ontouchstart)#buy
        script.
            window.onload =function (){
                weui.searchBar('#searchBar');
            }

        .weui-tab
            .weui-tab__panel 


                #rightNav
                    ul
                        li 
                            a(href="#") 二手易购
                        li 
                            a(href="#") 优惠拼团
                        li 
                            a(href="#") 技能小铺
                        li 
                            a(href="#") 武院纪念品
                        li
                            a
                                font.icon-jiantoushang.iconfont
                #pages1
                    #searchBar.weui-search-bar
                        form.weui-search-bar__form
                            .weui-search-bar__box
                                i.weui-icon-search
                                input#search_input.weui-search-bar__input(type='search', placeholder='搜索')
                                a#search_clear.weui-icon-clear(href='javascript:')
                            label#search_text.weui-search-bar__label(for='search_input')
                                i.weui-icon-search
                                span 搜索
                        a#search_cancel.weui-search-bar__cancel-btn(href='javascript:') 取消
                        font.iconfont.icon-list#menuButton  
                    #search_show.weui-cells.weui-cells_access.search_show(style="display:none")
                        .weui-cell
                            .weui-cell__bd.weui-cell_primary
                            p 实时搜索文本
                        .weui-cell
                            .weui-cell__bd.weui-cell_primary
                            p 实时搜索文本
                        .weui-cell
                            .weui-cell__bd.weui-cell_primary
                            p 实时搜索文本
                        .weui-cell
                            .weui-cell__bd.weui-cell_primary
                            p 实时搜索文本

                    .weui-cells__title Goods

                    #goods
                        .weui-flex
                            .weui-flex__item 
                                img(src="img/good1.jpg")
                                div
                                    span 全新
                                    span 小米MIX2無邊框
                                    span 3699
                            .weui-flex__item                         
                                img(src="img/good2.jpg")
                                div
                                    span#new 全新
                                    span#new2 小米淨化器3.0
                                    span 1599
                        .weui-flex
                            .weui-flex__item 
                                img(src="img/good3.jpg")
                                div
                                    span 全新
                                    span 小米筆記本
                                    span 5499
                            .weui-flex__item 
                                a(href="good.html")                        
                                    img(src="img/good4.jpg" )                            
                                    div
                                        span 全新
                                        span 小米電視2.0愛戀版
                                        span 3799
       
                #pages2
                    #portrait
                        .weui-flex
                            .weui-flex__item__extend
                                img(src="img/test.png")
                            .weui-flex__item
                                p
                                    a(href="good.html") 康康康
                                p
                                    a(href="good.html") 买东西使人快乐

                    .weui-cells(style="margin-top:0;")
                     
                        .weui-cell#updatagood   
                            a(href="pushgood.html")                      
                                    span 发布商品 
                                    span.iconfont.icon-mall  
                       
                        .weui-cell          
                            a(href="userinfo.html")                   
                                .weui-cell__hd
                                    label.weui-label 个人信息                      
                        .weui-cell                             
                            a(href="buylist.html")
                                .weui-cell__hd
                                    label.weui-label 我的订单
                        .weui-cell                             
                            a(href="collect.html")
                                .weui-cell__hd
                                    label.weui-label 收藏列表          

                +footer
          
            .weui-tabbar
                a#icon1.weui-tabbar__item
                    font.iconfont.icon-mall.weui-tabbar__icon
                    p.weui-tabbar__label 购物
                a#icon2.weui-tabbar__item
                    font.iconfont.icon-me.weui-tabbar__icon
                    p.weui-tabbar__label 个人心中

            script(src="js/index/pageChange.js")

            script(src="js/index/change.js")

