include ../common/mixin.jade

head
    +conf("二手市场")

body
    .weui-tab
        .weui-tab__panel
        .weui-tabbar
            a.weui-tabbar__item.weui-bar__item_on(href="#")
                img.weui-tabbar__icon(src="img/商城.svg")
                p.weui-tabbar__label 商品列表
            a.weui-tabbar__item(href="#")
                img.weui-tabbar__icon(src="img/订单.svg")
                p.weui-tabbar__label 订单列l
            a.weui-tabbar__item(href="#")
                img.weui-tabbar__icon(src="img/订单.svg")
                p.weui-tabbar__label 订单列w
            a.weui-tabbar__item(href="#")
                img.weui-tabbar__icon(src="img/订单.svg")
                p.weui-tabbar__label 订单列a                         