include ../common/mixin.jade

head 
    +conf("考试报名")

body
    .weui-btn-area
        a.weui-btn.weui-btn_primary
            h2 四级报名
            p 报名费：30元/人 
            p *学校统一报名，一旦确认不可更改
    .weui-btn-area
        a.weui-btn.weui-btn_primary
            h2 计算机二级考试报名
            p 报名费：30元/人 
            p *学校统一报名，一旦确认不可更改