head
    include ../common/css.jade
    title 更新日志
    
body
    -var com_title ='更新日志'
    include ../common/title.jade

    article.weui-article
        h1 V1.0版本更新
        section
            h2.title 2017年11月30日
            p.
                的

    include ../common/footer.jade


    

