include ../common/mixin.jade

head
    +conf("校历")

body
    .weui-cells__title 校历时间
    .container
        img(name="time__img", src="img/year__last.jpg", alt="" width="100%")
    .weui-cells__title 作息时间
    .container
        img(src="img/01.jpg", alt="" width="100%")

    +footer
    script.

        window.onload=function (){
            $("img").lazyload();
            
            var myDate = new Date();  
            var month =  myDate.getMonth();

            var time__img = document.getElementsByName("time__img")[0];

            Boolean(2 < month && month < 7)?time__img.setAttribute("src","img/year__first.jpg"):time__img.setAttribute("src","img/year__last.jpg");
        }