include ../common/mixin.jade

head
    +conf("校历")

body
    .weui-cells__title 校历时间
    .container
        img(src="img/02.jpg", alt="" width="100%")
    .weui-cells__title 作息时间
    .container
        img(src="img/01.jpg", alt="" width="100%")

    +footer