-var com_title ='更新日志'

head
    include ../common/conf.jade
    title #{com_title}
    
body
    include ../common/title.jade

    article.weui-article
        p.green.com-p__data V1.0 版本更新
        section
            p.com-p__date 2017年11月24日 

            p.com-p__data 实现智慧校园首页构建
            p.com-p__data 实现留言反馈、版本日志功能
            p.com-p__data 实现后台统一系统管理页面功能定制
            p.com-p__data 对接一卡通、网络报修、OA、校历、工资查询系统


    include ../common/footer.jade


    

