include ../common/mixin.jade

head 
    +conf("电话查询")


body

    +com-title("联系方式查询","","","支持模糊查询") 
    .weui-cells
        .weui-cell
            .weui-cell__hd
                label.weui-label 信息
            .weui-cell__bd
                input.weui-input(value="姓名/腾讯通",onclick="this.value=''")
            .weui-cell__hd
                input(class="weui-btn weui-btn_mini weui-btn_default",type="button",value="查询" )

    .weui-cells__title 查询结果
    -var info = [{content:"9416 赵四 （男）"},{class:"座机号",content:"0713-4627587"},{class:"手机号",content:"18086407838"}]

    .container
        .card-small
            .box
                each item in info
                    .weui-flex
                        if item.class
                            .weui-flex__item=item.class
                            .weui-flex__item=item.content
                          else
                            .weui-flex__item=item.content

    +footer

    script.
        function success(){
            var phone = document.getElementsByClassName("weui-flex__item")[3];
            weui.toast('复制成功', 1500);
        }
