include ../common/mixin.jade

head 
    +conf("作业介绍")
body
    +com-title("期末作业")

    .container
        img(src="url.png", width="100%")

    .weui-cells__title 编写语言 
    .container

        p Html  预处理Jade
        p Sass  预处理Sass
        p Javascript 
        br
        p Weui.css UI框架
        p Weui.js  UI框架
        br
        p 高德地图api.js