include ../common/mixin.jade

-var grade = [ {course:"课程",grade:"成绩",credits:"学分",item:"类别"},{course:"高等数学",grade:"89",credits:"4",item:"必修",top:"6"},{course:"计算机导论",grade:"86",credits:"4",item:"必修"},{course:"Java高级程序设计",grade:"92",credits:"4",item:"必修"},{course:"大学英语",grade:"92",credits:"4",item:"必修"},{course:"计算机组成原理",grade:"89",credits:"4",item:"必修",top:"6"},{course:"高等数学",grade:"89",credits:"4",item:"选修",top:"6"},{course:"数据结构",grade:"89",credits:"4",item:"选修",top:"6"},{course:"计算机导论",grade:"86",credits:"4",item:"选修"},{course:"软件工程",grade:"98",credits:"4",item:"选修"}]

head
    +conf("成绩查询")

body
#grade
    .weui-cells__title 切换学期
    .weui-cells
        .weui-cell
            .weui-cell__hd 
                label.weui-lable(for="") 时间
            .weui-cell__bd
                select.weui-select 
                    option(value="1") 大一上学期
                    option(value="2") 大一下学期
                    option(value="3") 大二上学期
    
    .weui-cells__title 成绩查询

    .container
        .card
            each grades in grade
                .weui-flex
                    .weui-flex__item
                        .course=grades.course
                    .weui-flex__item=grades.grade
                    .weui-flex__item=grades.credits
                    .weui-flex__item=grades.item



    +footer

