head
    include ../common/conf.jade
    title 成绩查询
        
body
    .weui-cells 
        .weui-cell.weui-cell_select.weui-cell_select-after
            .weui-cell__hd 
                label.weui-lable(for="") 查询时间
            .weui-cell__bd
                select.weui-select 
                    option(value="1") 大一上学期
                    option(value="2") 大一下学期

    include ../common/footer.jade
        
        