body{
    background: rgb(250, 250, 250);
}

h2{
    color: #1aad19;
    margin: 80px auto 80px auto;
    text-align: center;
}

.box{
    padding: 10px 15px;
}

.weui-cells:before,
.weui-cell:before{
    border: none !important;
}
.weui-cell{
    border: none !important;
}

.block-bg_color{
    background: white;
}