body{
    background: rgb(250, 250, 250);
}

h2{
    color: #1aad19;
<<<<<<< HEAD
    margin: 60px auto 60px auto;
=======
    margin: 80px auto 80px auto;
>>>>>>> 886d9d0ba3e6424fe95a41e86b95434278c052b8
    text-align: center;
}

.box{
    padding: 10px 15px;
}

.weui-cells:before,
.weui-cell:before,
.weui-cells:after{
    border: none !important;
}


.block-bg_color{
    background: white;
}