body{
    background: rgb(250, 250, 250);
}

h2{
    color: #1aad19;
    margin: 60px auto 60px auto;
    text-align: center;
}

.box{
    padding: 10px 15px;
}

.weui-cells:before,
.weui-cell:before,
.weui-cells:after{
    border: none !important;
}


.block-bg_color{
    background: white;
}